$modal-assigned-panel-width: 200px;

$bulk-panel-border-width: 2px;
$bulk-panel-border-radius: 5px;
$bulk-panel-border-color: $ui-base-color-border;
$bulk-panel-width: 150px;
$bulk-panel-margin: 5px;
$bulk-panel-padding: 5px;

/*
.ReactModal__Body--open {
  position: fixed;
}
*/

.modal_content {
  // top, left, width and height will be defined by components/modal.js automatically.
  position: absolute;
  padding: 10px 5px;
  border: solid 3px $ui-base-color-border;
  border-radius: 8px;
  background-color: $ui-base-color-background;
  box-shadow: 3px 3px 2px 2px rgba($ui-base-color-text, 0.6);
}

.modal_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  background-color: rgba($ui-base-color-background, 0.50);
}

.text-about-close {
  font-size: $ui-panel-font-size;
  text-align: right;
  color: lighten($ui-base-color-text, 30%);
}
.modal-assigned {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;

  &__controller {
    width: 329px;
    margin: 0;
    padding: 0;
  }

  &__selector {
    margin: 0;
    padding: 0;
  }
}

.assigned-indicator {
  display: inline-block;
  margin: 2px 4px 2px 0;
  color: $ui-base-color-text;
  background-color: $ui-base-color-background;
  border-style: solid;
  border-color: $ui-base-color-border;
  border-width: $ui-panel-border-width;
  border-radius: $ui-panel-border-radius;
  vertical-align: bottom;


  &.large {
    width: 145px;

    & .header {
      font-size: 14px;
      line-height: 20px;
    }

    & .numerator {
      font-size: 50px;
      line-height: 60px;
    }

    & .denominator {
      font-size: $ui-panel-font-size;
    }
  }

  &.small {
    width: 100px;

    & .header {
      font-size: $ui-panel-font-size;
    }

    & .numerator {
      font-size: 28px;
      line-height: 38px;

    }

    & .denominator {
      font-size: $ui-panel-font-size;
    }
  }

  &.out-of-range {
    background-color: $ui-base-color-warning-background;
    border-color: $ui-base-color-warning;
  }

  & dt {
    margin: 0;
    padding: 4px  4px 0 4px;
    text-align: left;
  }

  & dd {
    margin: 0;
    padding: 0 4px 4px 0;
    text-align: right;

    & .numerator {
      display: inline-block;
      margin-right: 5px;

      &.out-of-range {
        color: $ui-base-color-warning;
      }
    }

    & .denominator {
      display: inline-block;
    }
  }
}

.assign-controller {
  margin: 35px auto 0 auto;
  padding: 0;
  text-align: left;
  clear: both;

  $controller-indicator-width: 50px;

  &__indicator-outer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
  }

  &__title {
    flex-basis: $controller-indicator-width;
    flex-grow: 1;
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: bold;
  }

  &__indicator {
    flex-basis: $controller-indicator-width;
    display: block;
    width: $controller-indicator-width;
    margin: 5px 0 5px 20px;
    padding: 0;

    &.out-of-range {
      color: $ui-base-color-warning;
    }

    & dt {
      margin: 0;
      padding: 0;
      text-align: left;
    }

    & dd {
      margin: 0;
      padding: 0;
      font-size: 20px;
      text-align: right;
    }
  }

  &__buttons-outer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__assign-button {
    display: block;
    padding: 0;
    width: 53px;
    height: $ui-panel-size;
    font-family: sans-serif;
    font-size: $ui-panel-font-size;
    color: $ui-base-color-text;
    background-color: $ui-base-color-background;
    border: solid $ui-panel-border-width $ui-base-color-border;
    border-radius: $ui-panel-border-radius;
    cursor: pointer;
  
    &.nsp {
      color: darken($ui-base-color-primary, 40%);
      border-color: $ui-base-color-primary;

      &:hover{
        background-color: $ui-base-color-primary-hover;
      }
    }

    &.msp {
      color: darken($ui-base-color-tertiary, 30%);
      border-color: $ui-base-color-tertiary;

      &:hover{
        background-color: $ui-base-color-tertiary-hover;
      }
    }
  }
}


ul.selector {
  margin: 2px auto;
  padding: 0;
  width: $modal-assigned-panel-width;
  max-height: 380px;
  overflow: auto;
  color: $ui-base-color-text;
  background-color: $ui-base-color-background;
  border: solid 2px $ui-base-color-border;
  border-radius: 5px;
  font-size: $ui-panel-font-size;
  clear: both;

  & li {
    margin: 0;
    height: 18px;
    padding: 1px 2px;
    list-style-type: none;
    clear: both;

    &.disabled {
      color: $ui-base-color-text-inactive;
      background-color: $ui-base-color-background-inactive;
      cursor: default;
    }

    &.msp-assigned {
      background-color: $ui-base-color-tertiary-active;
      cursor: default;
    }

    &.nsp-assigned {
      background-color: $ui-base-color-primary-active;
      cursor: pointer;

      &:hover {
        background-color: $ui-base-color-primary-hover;
      }
    }

    &.unassigned {
      background-color: $ui-base-color-background;
      cursor: pointer;

      &:hover {
        background-color: $ui-base-color-primary-hover;
      }
    }

    & .selector__name {
      display: block;
      float: left;
      text-align: left;
    }

    & .selector__points {
      display: block;
      clear: right;
      text-align: right;
    }
  }
}

.input-modal-bulk {
  h2 {
    font-size: 120%;
  }

  &__dropdown-panel {
    display: inline-block;
    margin: $bulk-panel-margin;
    padding: $bulk-panel-padding;
    width: calc(33% - ((#{$bulk-panel-margin} * 2) + (#{$bulk-panel-border-width} * 2)) - 10px);
    border: solid $bulk-panel-border-width $bulk-panel-border-color;
    border-radius: $bulk-panel-border-radius;

    &>dt {
      margin: 0 0 10px 0;
      line-height: 20px;
    }

    &>dd {
      margin-left: 20px;
      padding: 0 0 0 auto;
      min-height: 20px;
    }
  }

  &__preset-panel {
    margin: $bulk-panel-margin;
    padding: $bulk-panel-padding;
    border: solid $bulk-panel-border-width $bulk-panel-border-color;
    border-radius: $bulk-panel-border-radius;

    &>dd {
      display: inline-block;
      margin: $bulk-panel-margin;
      padding: $bulk-panel-padding;
      width: calc(100% - (#{$bulk-panel-margin} * 2 + #{$bulk-panel-padding} * 2));
      text-align: right;

      &>button {
        width: 100%;
        height: $ui-panel-size;
        font-size: $ui-panel-font-size;
        color: $ui-base-color-text;
        background-color: $ui-base-color-background;
        border: solid $ui-panel-border-width $ui-base-color-primary;
        border-radius: $ui-panel-border-radius;
        cursor: pointer;
    
        &.nsp {
          border-color: $ui-base-color-primary;

          &:hover {
            background-color: $ui-base-color-primary-hover;
          }
        }

        &.msp {
          border-color: $ui-base-color-tertiary;

          &:hover {
            background-color: $ui-base-color-tertiary-hover;
          }
        }

      }
    }
  }

  &__reset-panel {
    margin: $bulk-panel-margin;
    padding: $bulk-panel-padding;
    border: solid $bulk-panel-border-width $bulk-panel-border-color;
    border-radius: $bulk-panel-border-radius;

    &>dd {
      display: inline-block;
      margin: $bulk-panel-margin;
      padding: $bulk-panel-padding;
      width: calc(50% - (#{$bulk-panel-margin} * 2 + #{$bulk-panel-padding} * 2));
      text-align: right;

      &>button {
        display: block;
        width: 100%;
        height: $ui-panel-size;
        font-size: $ui-panel-font-size;
        color: $ui-base-color-text;
        background-color: $ui-base-color-background;
        border: solid $ui-panel-border-width $ui-base-color-primary;
        border-radius: $ui-panel-border-radius;
        cursor: pointer;
    
        &:hover {
          background-color: $ui-base-color-primary-hover;
        }
      }
    }
  }
}

.modal-save {
  padding: 10px;

  & h2 {
    display: block;
    float: none;
    margin: 10px 0 5px 0;
    font-size: 12px;
    font-weight: bold;
  }

  &__url-input {
    width: calc(100% - 10px);
    height: $ui-panel-size;
    padding: 0 5px;
    font-size: $ui-panel-font-size;
    color: $ui-base-color-text-inactive;
    border: solid $ui-panel-border-width $ui-base-color-border;
    border-radius: $ui-panel-border-radius;
    background-color: $ui-base-color-background;
  }

  &__operation-panel {
    display: flex;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    justify-content: flex-start;

    &__button {
      display: block;
      width: 100px;
      height: $ui-panel-size;
      margin: 0 10px 0 0;
      padding: 0;
      color: $ui-base-color-text;
      border: solid $ui-panel-border-width $ui-base-color-border;
      border-radius: $ui-panel-border-radius;
      background-color: $ui-base-color-background;
      cursor: pointer;

      &:hover {
        border-color: $ui-base-color-primary;
        background-color: $ui-base-color-primary-hover;
      }
    }
  }

  // Chaos...
  & .Select {
    width: 220px;

    &.is-focused:not(.is-open) > .Select-control {
      border-color: $ui-base-color-border;

      &:hover {
        border-color: $ui-base-color-primary;
        background-color: $ui-base-color-primary-hover;
      }
    }

    &.is-open > .Select-control {
      border-color: $ui-base-color-primary;
      background-color: $ui-base-color-primary-active;
    }

    &.is-disabled > .Select-control {
      cursor: default;

      & .Select-placeholder {
        color: $ui-base-color-text-inactive;
      }

      &:hover {
        border-color: $ui-base-color-border;
        background-color: $ui-base-color-background;
      }
    }

    &:hover {
      background-color: $ui-base-color-primary-hover;
    }
  }

  & .Select-control {
    border-color: $ui-base-color-border;

    &:hover {
      border-color: $ui-base-color-primary;
      background-color: $ui-base-color-primary-hover;
    }
  }

  & .Select-menu-outer {
    border-color: $ui-base-color-primary;
  }

  & .Select-option {
    overflow: hidden;
    white-space: nowrap;
  }

  & .Select-option.is-selected {
    background-color: $ui-base-color-primary-active;
    &:hover {
      background-color: $ui-base-color-primary-hover;
    }
  }

  & .Select-option.is-focused {
    &:hover {
      background-color: $ui-base-color-primary-hover;
    }
  }
}

.storage-controller {
  $button-width: 130px;

  &__save-as {
    display: flex;
    margin: 0 0 5px 0;
    width: 100%;
    justify-content: space-between;

    & .data-name-input {
      padding: 0 3px;
      width: calc(100% - #{$button-width} - 15px);
      height: $ui-panel-size;
      line-height: $ui-panel-size;
      color: $ui-base-color-text;
      border: solid $ui-panel-border-width $ui-base-color-border;
      border-radius: $ui-panel-border-radius;
      background-color: $ui-base-color-background;
      font-size: $ui-panel-font-size;
    }

    & .save-as-button {
      display: block;
      width: $button-width;
      height: calc(#{$ui-panel-size} + #{$ui-panel-border-width} * 2);
      color: $ui-base-color-text;
      border: solid $ui-panel-border-width $ui-base-color-border;
      border-radius: $ui-panel-border-radius;
      background-color: $ui-base-color-background;
      font-size: $ui-panel-font-size;
      cursor: pointer;

      &:hover {
        border-color: $ui-base-color-primary;
        background-color: $ui-base-color-primary-hover;
      }

      &:disabled {
        color: lighten($ui-base-color-text, 30%);

        &:hover {
          border-color: $ui-base-color-border;
          background-color: $ui-base-color-background;
          cursor: default;
        }
      }
    }
  }

  &__saved-data {
    display: flex;
    margin: 0 0 5px 0;
    width: 100%;
    justify-content: space-between;

    & button {
      margin: 0 2px;
      padding: 0 5px;
      height: calc(#{$ui-panel-size} + #{$ui-panel-border-width} * 2);
      color: $ui-base-color-text;
      border: solid $ui-panel-border-width $ui-base-color-border;
      border-radius: $ui-panel-border-radius;
      background-color: $ui-base-color-background;
      font-size: $ui-panel-font-size;
      cursor: pointer;

      &:hover {
        border-color: $ui-base-color-primary;
        background-color: $ui-base-color-primary-hover;
      }

      &:disabled {
        color: lighten($ui-base-color-text, 30%);

        &:hover {
          border-color: $ui-base-color-border;
          background-color: $ui-base-color-background;
          cursor: default;
        }
      }

    }
  }
}
.text-modal {
  padding: 5px;
  & h1 {
    display: block;
    float: none;
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: bold;
  }

  & h2 {
    display: block;
    float: none;
    margin: 10px 0 5px 0;
    font-size: 12px;
    font-weight: bold;
  }

  & p {
    margin: 4px;
    text-indent: 0.5em;
  }
}

.modal-usage,
.modal-about {
  margin: 10px auto;
  width: 98%;
  height: 460px;
  overflow: auto;
}

.modal-usage {
  & .green {
    font-weight: bold;
    color: $ui-base-color-primary;
  }

  & .purple {
    font-weight: bold;
    color: $ui-base-color-secondary;
  }

  & .blue {
    font-weight: bold;
    color: $ui-base-color-info;
  }
}

.modal-about {
  & address {
    font-style: normal;
  }

  & dl {
    & dd {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}
