
.react-select-owned {
  margin: 0;
  padding: 0;
  width: 120px;
  height: $ui-panel-size;
  box-sizing: content-box !important;

  &__control {
    top: -2px;
    height: $ui-panel-size !important;
    min-height: $ui-panel-size !important;
    background-color: $ui-base-color-background !important;
    border: $ui-panel-border-width solid $ui-base-color-secondary !important;
    border-radius: $ui-panel-border-radius !important;
    box-sizing: content-box !important;
    cursor: pointer !important;
    box-shadow: none !important;
    justify-content: center !important;
  
    &:hover {
      background-color: $ui-base-color-secondary-hover !important;
    }
  
    &--is-focused {
      background-color: $ui-base-color-secondary-hover !important;
    }
  }

  &__single-value {
    width: calc(100% - 8px) !important;
    max-width: calc(100% - 8px) !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicator {
    padding: 0 !important;
    width: 20px !important;
  }

  &__menu {
    padding-right: 5px;
    background-color: $ui-base-color-background !important;
    border: $ui-panel-border-width solid $ui-base-color-secondary !important;
    border-radius: $ui-panel-border-radius !important;
    box-sizing: content-box !important;
    cursor: pointer !important;
  }
  
  &__option {
    margin: 0 !important;
    padding: 3px 8px !important;
    height: 25px;
    cursor: pointer !important;
  
    &:hover {
      background-color: $ui-base-color-secondary-hover !important;
    }
  
    &--is-focused {
      background-color: $ui-base-color-secondary-hover !important;
    }
  
    &--is-selected {
      color: inherit !important;
      background-color: $ui-base-color-background !important;
    }
  }

  &__custom-label {
    margin: 0;
    padding: 0;
    width: 98%;
  
    &__label {
      text-align: left;
      clear: both;
      float: left;
    }
  
    &__value {
      text-align: right;
  
      &::before {
        content: '(';
      }
  
      &::after {
        content: ')';
      }
  
      &--hidden {
        visibility: hidden;
      }
    }
  }
}

.react-select-saved-data {
  margin: 0 !important;
  width: 220px !important;
  box-sizing: content-box !important;

  &__control {
    min-height: 34px !important;
    height: 34px !important;
    background-color: $ui-base-color-background !important;
    border: $ui-panel-border-width solid $ui-base-color-border !important;
    border-radius: $ui-panel-border-radius !important;
    cursor: pointer !important;
    box-shadow: none !important;

    &:hover,
    &--is-focused {
      border-color: $ui-base-color-primary !important;
      background-color: $ui-base-color-primary-hover !important;
    }
  }

  &__value-container {
    top: -2px;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__menu {
    border: $ui-panel-border-width solid $ui-base-color-primary !important;
    border-radius: $ui-panel-border-radius !important;
  }

  &__option {
    cursor: pointer !important;
  
    &:hover {
      background-color: $ui-base-color-primary-hover !important;
    }
  
    &--is-focused {
      background-color: $ui-base-color-primary-hover !important;
    }
  
    &--is-selected {
      color: inherit !important;
      background-color: $ui-base-color-background !important;
    }
  }
}
