// This is chaos...

.react-select-option {
  font-size: $ui-panel-font-size;

  clear: both;
  & .label {
    text-align: left;
    float: left;
  }

  & .value {
    text-align: right;
  }
}

.react-select-value {
  height: 100%;
  font-size: $ui-panel-font-size;

  clear: both;
  & .label {
    float: left;
  }

  & .value {
    margin-right: 20px;
    text-align: right;
  }
}

.react-select-dummy {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  margin: 0 0 0 0;
  padding-left: 10px;
  padding-right: 8px;
  background-color: $ui-base-color-background;
  border: solid $ui-panel-border-width $ui-base-color-secondary;
  border-radius: $ui-panel-border-radius;
  line-height: $ui-panel-size;
  vertical-align: baseline;

  & .value {
    margin-right: 2px;
  }
}

/* Force update react-select styles. */
.Select {
  width: 120px;

  &.is-focused:not(.is-open) > .Select-control {
    border: solid $ui-panel-border-width $ui-base-color-secondary;
    box-shadow: none;

    &:hover {
      background-color: $ui-base-color-secondary-hover;
    }
  }

  &.is-open > .Select-control {
    border: solid $ui-panel-border-width $ui-base-color-secondary;
    border-radius: $ui-panel-border-radius;
    background-color: $ui-base-color-secondary-hover;
    box-shadow: none;
  }
}


.Select-control {
  background-color: $ui-base-color-background;
  border: solid $ui-panel-border-width $ui-base-color-secondary;
  border-radius: $ui-panel-border-radius;
  color: $ui-base-color-text;
  cursor: pointer;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: $ui-panel-size;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;


  &:hover {
    background-color: $ui-base-color-secondary-hover;
  }

  & .Select-input {
    height: $ui-panel-size;
    padding-left: 10px;
    padding-right: 8px;
    vertical-align: middle;

    &:focus {
      background:none;
    }
  }
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: $ui-base-color-text;
  left: 0;
  line-height: $ui-panel-size;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 2px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Select-menu-outer {
  border: 2px solid $ui-base-color-secondary;
  border-radius: $ui-panel-border-radius;
  background-color: $ui-base-color-background;
  box-sizing: border-box;
  margin-top: 3px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.Select-menu {
  border-radius: $ui-panel-border-radius;
  max-height: 196px;
  overflow-y: auto;
}

.Select-option {
  box-sizing: border-box;
  background-color: $ui-base-color-background;
  color: $ui-base-color-text;
  cursor: pointer;
  display: block;
  padding: 2px 8px;

  &:hover {
    background-color: $ui-base-color-secondary-hover;
  }
}

.Select-option:last-child {
  border-bottom-right-radius: $ui-panel-border-radius;
  border-bottom-left-radius: $ui-panel-border-radius;
}
.Select-option.is-selected {
  /*
  background-color: #f5faff;
  /* Fallback color for IE 8 *
  background-color: rgba(0, 126, 255, 0.04);
  */
  background: none;
  color: $ui-base-color-text;

  &:hover {
    background-color: $ui-base-color-secondary-hover;
  }
}

.Select-option.is-focused {
  background: none;
  color: $ui-base-color-text;

  &:hover {
    background-color: $ui-base-color-secondary-hover;
  }
}

.Select--multi .Select-value {
  background-color: none;
}

.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: none;
}
.Select--multi .Select-value-icon:active {
  background-color: none;
}
