// This is chaos...

.react-select-option {
  font-size: $ui-panel-font-size;

  clear: both;
  & .label {
    text-align: left;
    float: left;
  }

  & .value {
    text-align: right;
  }
}

.react-select-option--without-value {
  font-size: $ui-panel-font-size;

  & .label {
    text-align: left;
  }
}

.react-select-value {
  height: 100%;
  font-size: $ui-panel-font-size;

  clear: both;
  & .label {
    float: left;
  }

  & .value {
    margin-right: 20px;
    text-align: right;
  }
}

.react-select-value--without-value {
  font-size: $ui-panel-font-size;

  & .label {
    text-align: left;
  }
}

.react-select-dummy {
  display: inline-block;
  box-sizing: border-box;
  width: 80px;
  margin: 0 0 0 0;
  padding-left: 10px;
  padding-right: 8px;
  background-color: $ui-base-color-background;
  border: solid $ui-panel-border-width $ui-base-color-secondary;
  border-radius: $ui-panel-border-radius;
  line-height: $ui-panel-size;
  vertical-align: baseline;

  & .value {
    margin-right: 2px;
  }
}
