// base
$ui-base-font-size: 12px;
$ui-base-color-text: #444444;
$ui-base-color-text-inactive: #a0a0a0;
$ui-base-color-border: lighten($ui-base-color-text, 50%);
$ui-base-color-background: #fafafa;
$ui-base-color-background-inactive: #e0e0e0;
$ui-base-color-info: #57a2ce;
$ui-base-color-info-background: lighten($ui-base-color-info, 35%);
$ui-base-color-warning: #d03030;
$ui-base-color-warning-background: lighten($ui-base-color-warning, 48%);
$ui-base-color-warning-hover: lighten($ui-base-color-warning, 38%);
$ui-base-color-primary: #b2d146;
$ui-base-color-primary-active: lighten($ui-base-color-primary, 35%);
$ui-base-color-primary-hover: lighten($ui-base-color-primary, 28%);
$ui-base-color-secondary: #7e6f7e;
$ui-base-color-tertiary: #d49c17;
$ui-base-color-tertiary-active: lighten($ui-base-color-tertiary, 40%);
$ui-base-color-tertiary-hover: lighten($ui-base-color-tertiary, 35%);
$ui-base-color-secondary-active: lighten($ui-base-color-secondary, 50%);
$ui-base-color-secondary-hover: lighten($ui-base-color-secondary, 30%);

// panel
$ui-panel-size: 30px;
$ui-panel-font-size: 12px;
$ui-panel-border-width: 2px;
$ui-panel-border-radius: 5px;
$ui-panel-margin-horizontal: 1px;

// button
/*
$ui-button-font-size: 12px;
$ui-button-width: 47px;
$ui-button-height: 30px;
$ui-button-border-width: 2px;
$ui-button-border-radius: 5px;
*/

// function
@function replace-hash($hexcolor) {
  $hexcolor: str-slice(ie-hex-str($hexcolor), 4);
  @return '%23' + unquote($hexcolor);
}
