@import 'skill-simulator/variables';
@import 'skill-simulator/header-navigation';
@import 'skill-simulator/skill-point-table';
@import 'skill-simulator/skill-point-panel';
@import 'skill-simulator/input-modal';
@import 'skill-simulator/react-select';
@import 'skill-simulator/direct-controller';

body {
  margin: 0;
  padding: 10px 0 0 10px;
  font-size: $ui-base-font-size;
  font-family: sans-serif;
  color: $ui-base-color-text;
  background-color: $ui-base-color-background;
}

h1 {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

button, input {
  outline-width: 0;
}
